/* Coolors Exported Palette - coolors.co/05abff-256eff-f92a82-8a1ed6-ff5b00 */

/* HSL */
$color1: hsla(200%, 100%, 51%, 1);
$color2: hsla(220%, 100%, 57%, 1);
$color3: hsla(334%, 95%, 57%, 1);
$color4: hsla(275%, 75%, 48%, 1);
$color5: hsla(21%, 100%, 50%, 1);

/* RGB */
$color1: rgba(5, 171, 255, 1);
$color2: rgba(37, 110, 255, 1);
$color3: rgba(249, 42, 130, 1);
$color4: rgba(138, 30, 214, 1);
$color5: rgba(255, 91, 0, 1);